/* General Style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Navigation */

.navbar {
    background-color: #333;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-list li {
    margin-right: 20px;
}

.navbar-list a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-list a:hover {
    color: #2596be;
}

.navbar-logo {
    max-width: 4%;
    height: auto;
    margin-right: 2%;
    vertical-align: middle;
}

/* About-Section */

.about-section {
    background-image: url('images/bavaria_flag.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section img.portrait {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    margin-right: 50px;
    position: relative;
    z-index: 2;
}

.about-text {
    position: relative;
    z-index: 2;
}

.about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.about-section h1, .about-section p {
    color: #FFFFFF;
}

.about-section h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.about-section p {
    font-size: 30px;
    margin-top: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0,5);
}

/* Work-Section */

.work-section {
    background-color: #f7f7f7;
    padding: 2em;
    text-align: center;
}

.work-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Contact-Section */

.contact-section {
    background-color: #FFFFFF;
    padding: 2em;
    text-align: center;
}

.contact-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Footer */

footer {
    background-color: #333;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
    clear: both;
}

footer p {
    margin-bottom: 10px;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
    .navbar-list {
        flex-direction: column;
    }
    .navbar-list li {
        margin-right: 0;
    }
}